{% extends "base.html" %}

{% block content %}
    <div id="root"></div>
{% endblock %}

{% block scripts %}
    <script>
        window.currentUserName = "{{ session.user_name }}";
    </script>

    <script src="{{ url_for('static', filename='components/LiquidEther.js') }}" type="text/babel"></script>
    <script src="{{ url_for('static', filename='components/PillNav.js') }}" type="text/babel"></script>
    <script src="{{ url_for('static', filename='app.js') }}" type="text/babel"></script>
{% endblock %}